
<style type="text/css">
  
	 #test{display: none;}
	 aside .tagcloud a:hover, .nav-growpop .icon-wrap, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range, .woocommerce #content .quantity .minus:hover, .woocommerce #content .quantity .plus:hover, .woocommerce .quantity .minus:hover, .woocommerce .quantity .plus:hover, .woocommerce-page #content .quantity .minus:hover, .woocommerce-page #content .quantity .plus:hover, .woocommerce-page .quantity .minus:hover, .woocommerce-page .quantity .plus:hover,.block_title .nav-fillpath a:hover,.overlay_menu nav ul li a:after, .latest_blog .owl-carousel .owl-controls .owl-next:hover, .latest_blog .owl-carousel .owl-controls .owl-prev:hover, .testimonial_carousel_element:hover .pagination a.next:hover, .testimonial_carousel_element:hover .pagination a.prev:hover, .block_title.column_title.inner-inline_border_circle .divider .line, .block_title.section_title .divider .line,.wpcf7 input[type="submit"].btn-bt.default, aside .widget-title:after, .woocommerce span.onsale, .woocommerce-page span.onsale, .content_portfolio.in_container #portfolio-filter li.mixitup-control-active, .recent_portfolio #portfolio-filter li.mixitup-control-active, #blog-filter li.mixitup-control-active {background:#6c45c6;} 
	 
	 	 	.header_tools .vert_mid .right_search:after, .header_tools .cart:after{display: none;}
	 
	 
	 .header_tools .vert_mid .right_search:after, .header_tools .cart:after{color:#e7e7e7}
	 .blog-article .extra_info, .latest_blog .blog-article.grid-style .content .text, .single_testimonial,.vc_tta-style-default .vc_tta-tabs-container {border-color: rgba(231,231,231, 0.7);}
	 .blog-article .info .categories a,.blog-article .info .author a, .blog-article .extra_info .post-like i, .comment dl dd span.author a, .button .readmore:hover {
	 	color:#6c45c6;
	 }
	 .light .latest_blog .owl-carousel .owl-controls .owl-next:hover, .light .latest_blog .owl-carousel .owl-controls .owl-prev:hover, .light .testimonial_carousel_element:hover .pagination a.next:hover, .light .testimonial_carousel_element:hover .pagination a.prev:hover, .light .nav-fillpath a:hover,.vc_tta-style-default .vc_tta-tab.vc_active, .wpcf7 input[type="submit"].btn-bt.default{border-color:#6c45c6;}
  
	  .services_large:hover, .wpcf7 input:not([type="submit"]):focus, .wpcf7 textarea:focus, .price_table.highlighted, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active{border-color:#6c45c6 !important;}
	 .nav-growpop .icon-wrap{border:0px solid #6c45c6;}
	 nav .zeroone_custom_menu_mega_menu > ul > li{border-right:1px solid #f7f7f7;}
	 .zeroone_slider .swiper-slide .buttons a.bordered:hover, .header_12 .full_nav_menu nav ul > li:hover, .header_12 .full_nav_menu nav ul > li.current-menu-item, .header_12 .full_nav_menu nav ul > li.current-menu-parent, .header_12 .full_nav_menu nav ul > li:hover{background:#6c45c6;}
	 .top_nav .footer_social_icons li:hover a i, .header_wrapper .footer_social_icons li:hover a i, .zeroone_slider .swiper-slide .buttons.colors-light a.colored:hover, .vc_btn3.vc_btn3-color-white.vc_btn3-style-outline:hover, .light .wpcf7 input.btn-bt{color:#6c45c6 !important;}
	 .blog-article.timeline-style .timeline .date, #s, #respond textarea, #respond input[type="text"], .recent_news.events .blog-item, .sticky,.post-password-form input[type="password"], aside #woocommerce-product-search-field{border:1px solid #e7e7e7;}
	 .header_12 .full_nav_menu nav ul > li{border-left:1px solid #e7e7e7;}
	 .header_12 .full_nav_menu nav ul > li:last-child{border-right:1px solid #e7e7e7; padding-right:10px !important;}
	 .timeline-border{background:#e7e7e7;}
	 	 .skill .prog, .zeroone_slider .swiper-slide .buttons.colors-light a.colored, .recent_news.events .blog-item:hover, .owl-theme .owl-controls.clickable .owl-buttons div:hover, .clients_el .pagination a:hover{background:#6c45c6;}
	 .services_medium.style_1:hover .icon_wrapper, .services_medium.style_3:hover .icon_wrapper{box-shadow: inset 0 0 0 70px #6c45c6, inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
	 }
	 .services_medium.style_3:hover .icon_wrapper, .clients_el .pagination a:hover,.woocommerce .add_to_cart_button.btn-bt,.zeroone_slider .swiper-slide .buttons.colors-light a.colored:hover{border:1px solid #6c45c6 !important;}
	  .header_12 .after_navigation_widgetized #s, .woocommerce .cart-collaterals .cart_totals .actions input#coupon_code{border:1px solid #e7e7e7;}
	 .list li.titledesc dl dt .circle{border:2px solid #e7e7e7;}
	 blockquote, .blockquote{border-left:2px solid #6c45c6;}
	 .header_page h1{line-height:100px;}
	 .services_media.style_2 h5, .accordion.style_1 .accordion-heading.in_head .accordion-toggle, .header_tools .cart_icon .nr, .vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a,.woocommerce .add_to_cart_button.btn-bt  {
		background:#6c45c6;
	 }

	 .services_medium:not(.style_2) .icon_wrapper:after{box-shadow: 0 0 0 2px #6c45c6;}
	 .services_small .content div, .comment .comment_text{line-height: 24px;}
	  	 .services_large:hover .icon_wrapper, .services_steps:hover .icon_wrapper, .nav-fillpath a:hover {background: #6c45c6 ;}
	  .header_12 .full_nav_menu{border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7}
	 .section-style.borders{border-top:1px solid rgba(231,231,231, 0.5) ; border-bottom:1px solid rgba(231,231,231, 0.5)}
	 .not_found .search_field input[type="text"], .comment dl{border:1px solid #e7e7e7;}
	 .background--dark header#header .header_tools .vert_mid > a:hover, .background--dark header#header .header_tools .vert_mid .cart .cart_icon:hover, .tabbable.style_1.tabs-left .nav-tabs li.active a, .contact_information dt i, .nav-fillpath a, .vc_tta-tab > a i{color:#6c45c6 !important;}
	  .tabbable.tabs-top.style_1 .nav.nav-tabs li.active a,.post_navigation a:hover span i,  .post_navigation a:hover h5,  .post_navigation a:hover h6, .single_testimonial dl dd .param .position, #menu-onepage .current-menu-item a{color:#6c45c6;}
	 .vc_custom_heading a:hover,.social_icons_sc i{color:#6c45c6 !important;}
	 .blog-article a.btn-bt.default:hover{color:#6c45c6 !important;}
	 	 .header_2 nav .menu>li.current-menu-item, .header_2 nav .menu>li.current-menu-parent, .header_2 nav .menu>li:hover{border-top:3px solid #6c45c6;}
	 .header_2 nav .zeroone_custom_menu_mega_menu{border-top:2px solid #6c45c6;}
	 .header_2 nav .menu > li > ul.sub-menu{border-top:2px solid #6c45c6;}

	 .header_3 nav .menu>li.current-menu-item, .header_3 nav .menu>li.current-menu-parent, .header_3 nav .menu>li:hover{border-top:3px solid #6c45c6;}
	 .header_3 nav .zeroone_custom_menu_mega_menu{border-top:2px solid #6c45c6;}
	 .header_3 nav .menu > li > ul.sub-menu{border-top:2px solid #6c45c6;} 
	   
	 .header_4 nav .menu li > ul, .header_4 nav .menu>li:hover, .header_4 nav .menu>li.current-menu-item, .header_4 nav .menu>li.current-menu-parent, .header_4 .zeroone_custom_menu_mega_menu, .header_4 .zeroone_custom_menu_mega_menu{background:rgba(251,251,251, 0.90) !important;}
	    
	 .header_4 .zeroone_custom_menu_mega_menu ul.sub-menu{
	 	background:transparent !important; 
	 }
	 .header_4 nav .menu>li:hover a, .header_4 nav .menu>li.current-menu-item a, .header_4 nav .menu>li.current-menu-parent a{color:#5198ff;}
	 .header_4 nav .menu li > ul.sub-menu li{border-bottom:1px solid rgba(247,247,247,0);}
	 .header_4 nav .menu li > ul.sub-menu li:hover, .header_4 nav .menu li > ul.sub-menu li.current_page_item {background: rgba(, 0.90)}
   
	 .header_4 .header_page.with_subtitle .titles{margin-top:50px;}
	 
	 .header_8 nav .menu>li.current-menu-item, .header_8 nav .menu>li.current-menu-parent, .header_8 nav .menu>li:hover{border-bottom:3px solid #6c45c6;}
	 .header_9 nav .menu>li>a::before, .header_9 nav .menu>li>a.current_page_item::before, .header_5 nav .menu>li>a::before, .header_5 nav .menu>li>a.current_page_item::before{background-color: #6c45c6; }

	 .wrapper-menu .line-menu{
	 	background-color: #ffffff; 
	 }

	 /*.header_9 nav .menu>li.current-menu-item > a, .header_9 nav .menu>li.current-menu-parent > a{border-bottom:2px solid #6c45c6;}
	 */
	 .header_10 .full_nav_menu .container{border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
	 	 .header_10 .full_nav_menu .container{border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
	 	 .header_11.sticky_header nav.left .menu > li:last-child{padding-right:10px; margin-right:0; }
	 
	 
	 
	 .creative-single.background--light .title .info li.date::after, .creative-single.background--light .title .info li.date::before{background:#444444}
	 .woocommerce ul.products li.product:hover .overlay, .woocommerce-page ul.products li.product:hover .overlay{background:rgba(, 0.80 );}
	 .woocommerce #content div.product p.price, .woocommerce #content div.product span.price, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-page #content div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price, .woocommerce .star-rating span, .woocommerce-page .star-rating span, .recent_news.events .link i{color: #6c45c6;}
	 .header_tools .cart .checkout{
	 	border-top:1px solid #f7f7f7;
	 }
	 .header_tools .cart_icon i:before{line-height:55px;}
	  .header_tools .cart .content .cart_item{
	  	border-bottom:1px solid #f7f7f7;
	  }
	   .header_tools .cart .content .cart_item .description .price, .header_tools .cart .content .cart_item .description .price .amount, .header_tools .cart .cart_item .remove:after{
	  	color:#616161;
	  }
	  .header_tools .cart .content .cart_item .description .title, .header_tools .cart .checkout .subtotal{
	  	color:#5198ff;
	  }
	  .header_tools .cart .content .cart_item .description .title:hover, .header_tools .cart .cart_item .remove:hover:after{color:#6c45c6;}
	 .tabbable.style_1 .nav-tabs li a{font-weight: 600}
	 .portfolio-item.grayscale .project:after{
  		border-color: transparent transparent #212121 transparent;
	 }
	 .portfolio-item.grayscale p.description, .portfolio-item.grayscale .project p a{ color: #ffffff; }
	 .vc_separator.vc_separator_align_center h4, .vc_separator.vc_separator_align_left h4, .vc_separator.vc_separator_align_right h4{color: #6c45c6}
	 #logo img{margin-top:-7.5px; }
	 .portfolio_single ul.info li .title{
	 	text-transform: uppercase;
	 	font-weight: 	 }

	 .portfolio-item.overlayed .tpl2 .bg.custom_bg{background: linear-gradient(45deg, rgba(81,152,255, 0.82 ) 0%, rgba(81,152,255, 0.82 ) 100%)}

	 .content_portfolio.fullwidth #portfolio-filter ul li.mixitup-control-active a, .content_portfolio.fullwidth #portfolio-filter ul li a:hover{border-bottom: 1px solid #ffffff;}
	 .tabbable.tabs-top.style_1 .nav.nav-tabs li a{
	 	text-transform: uppercase;
	 }
	 .woocommerce #review_form #respond textarea, .woocommerce-page #review_form #respond textarea,.side-nav,.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap textarea,.select2-drop-active, .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message, #mc_signup_form .mc_input{
		border:1px solid #ececec !important;
	 }
	
	 .side-nav li{
	 	border-bottom:1px solid #ececec;
	 }

	 footer .widget_search input[type="text"]{
	 	background:#151515;
	 	color:#bdbdbd;
	 	font-size:15px;
	 	line-height:22px;

	 }

	 .zeroone_news_slider .swiper-slide h1, .zeroone_news_slider .featured_posts .featured h4, .portfolio-item.parallax .content_box{
	 	background:rgba(108, 69, 198, 0.8);
	 }

	 .extra_navigation h5.widget-title{
	 	text-transform:uppercase;
	 	font-weight:;
	 	font-size:15px;
	 	letter-spacing: :1px;
	 	line-height:20px;
	 }

	 .blog-article.grid-style .content h1, .latest_blog .blog-item .content h4, .recent_news .blog-item h4, .recent_news.events .blog-item dt .date{text-transform: capitalize}
	 //.blog-article.standard-style .content {background-color:#ffffff}
	 .latest_blog .blog-item .content h4{font-weight:600;}
	 
	 .price_table  h1, .price_table .list ul li:before, .blog-article.timeline-style .timeline .date .month{color:#6c45c6;}

	 .side-nav li.current_page_item, .p_pagination .pagination .current, .p_pagination .pagination a:hover, .block_title.column_title.inner-inline_border .divider, .not_found .search_field .btn-bt{background:#6c45c6;}

	 .services_large .services_large_image {
	 					box-shadow: inset 0 0 0 0  rgba(108, 69, 198, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1) ;
		 
	 }	
	 .services_large:hover .services_large_image{
	 					box-shadow:inset 0 0 0 110px rgba(108, 69, 198, 0.4), inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1) ;
		 
	 }

	 .wpb_content_element.button.buttons_two a:nth-child(2){background: #6c45c6}
	 .btn-bt.business:hover, .btn-bt.default:hover, .btn-bt.default:before{
	 												background: rgba(255,255,255, 1) ;
					 
	}
	
	 .light .btn-bt.default:hover, .background--dark .btn-bt.default:hover, .light .btn-bt.business:hover, .background--dark .btn-bt.business:hover, .light .btn-bt.rounded:hover, .background--dark .btn-bt.rounded:hover, .fullscreen-blog-article .content.background--dark .btn-bt:hover, .light .btn-bt.default:before{
	 												background:  rgba(255,255,255, 1) ;
					 
	}

	.btn-bt.business, .btn-bt.default{
	 												background:  rgba(255,255,255, 1) ;
					 
	}
	 .light .btn-bt.default, .background--dark .btn-bt.default, .light .btn-bt.business, .background--dark .btn-bt.business,  .light .btn-bt.rounded, .background--dark .btn-bt.rounded{
	 												background: rgba(255,255,255, 1) ;
					 
	}


	 .btn-bt.rounded{
	 				color: #ffffff ;
				
													background: rgba(108,69,198, 1) ;
							
		
													border-color: rgba(108,69,198, 1) ;
					
					font-size: 14px ;
		
					font-weight: 700 ;
		
					text-transform: uppercase ;
		
					letter-spacing: 0px ;
			 }
	 
	 .btn-bt.rounded:hover{
	 		 		color: #6c45c6 ;
		
	 	 
	 				 						background: rgba(255,255,255, 1) ;
			
		
		
													border-color: rgba(255,255,255, 1) ;
				
			 }

	 .light .btn-bt.rounded, .fullscreen-blog-article .content.background--dark .btn-bt{
		
			 		color: #ffffff ;
		
																	background: rgba(255,255,255, 0) ;
					
													border-color: rgba(255,255,255, 1) ;
					
	 }

	 .light .btn-bt.rounded:hover, .fullscreen-blog-article .content.background--dark .btn-bt:hover{
		
			 		color: #5198ff ;
		
													background: rgba(255,255,255, 1) ;
					
													border-color: rgba(255,255,255, 1.00) ;
					
	 }


	 

	 
	@media (max-width: 979px) {
		 .header_5 .background--dark nav .menu > li > a{
		 	color: #ffffff !important;
		 }
	}

	

	/* Layout Inner Container */

		@media (min-width: 981px) and (max-width: 1100px) {
		.container{	width:87% !important ; }
	}
	@media (min-width: 768px){
		.container{			
			max-width: 1200px !important;
		}
		.row .span12{
			width:100%; 
			margin-left:0 !important;
			padding-left:20px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
		}
	}

	
	
	@media (min-width: 1101px) {
		.container{
							width:87%;
				max-width: 1200px !important;
					}

		.row .span12{
			
							width:100%;
				margin-left:0 !important;
				padding-left:20px;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
					}
		.testimonial_carousel .item{width:1200px;}
	}

	/* End Layout Inner Container */


	/* Layout Boxed */
	.boxed_layout{
		margin-top:30px !important;
		margin-bottom:30px !important;
				  -webkit-box-shadow:0 5px 19px 2px rgba(0,0,0,0.1);
		  -moz-box-shadow:0 5px 19px 2px rgba(0,0,0,0.1);
		  box-shadow:0 5px 19px 2px rgba(0,0,0,0.1);
			}
		
	
	.boxed_layout{			
		width:87% !important ;
		max-width: 1100px !important;
	}
	

		
	
	/* End Layout Boxed */

	@media (max-width: 480px){
				.header_tools{display:none !important;}
			}

body:not(.page-template-portfolio) .wrapper-menu .line-menu{
    background-color:#333 !Important;
}</style>